<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="APReadXMLUploadApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="DBServerName" value="10.148.202.29"/>
		<add key="DWServerName" value="10.148.202.11"/>
		<add key="DBName" value="dwdata"/>		
		<add key="DBUserName" value="sa"/>
		<add key="DBPassword" value="K0suQKvSDE1Vo8nBPqmZSijPbpgaoo+7VTljXxcUngg="/>		
		<add key="DWFileCabinet" value="Income Audit_Process"/>
		<add key="DWUserName" value="8HTsDTXWgfzwsnl6HULiKg=="/>
		<add key="DWPassword" value="hSfsIY/NJvFZ4LRUby7m0wKzDZe4wpNVv+TYAXevICXBtbjzqPdKHw=="/>
		<add key="PropertyName" value="Doubletree by Hilton Dubai Jumeirah Beach"/>
	</appSettings>
	<log4net>
		<root>
			<level value="ALL"/>
			<appender-ref ref="RollingFileAppender"/>
		</root>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Log\log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<maxSizeRollBackups value="5"/>
			<datePattern value="_yyyy-MM-dd'.log'"/>
			<maximumFileSize value="10MB"/>
			<staticLogFileName value="false"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
			</layout>
		</appender>
	</log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>